@using RealEstateSystem.Models.ViewModels.House
@model HouseDetailsViewModel
@inject IAgentInterface agent
@inject IHouseInterface houses

@{
    ViewData["Title"] = "House Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">House Details</h1>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrl" alt="House Image">
        </div>

        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Located in: <b>@Model.Address</b></p>
            <p>
                Price Per Month:
                <b>@String.Format("{0:f2}", Model.PricePerMonth) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.CategoryName</b></p>
            <p><i>(@(Model.IsRented ? "Rented" : "Not Rented"))</i></p>

            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    @if (await houses.HasAgentWithId(Model.Id,new Guid(User.GetId())))
                    {
                        <a class="btn btn-warning" asp-controller="House" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="ml-2 btn btn-danger" asp-controller="House" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                    }                   

                    @if (!Model.IsRented&& await agent.ExistById(new Guid(User.GetId()))==false )
                    {
                        <form class="ml-2" asp-controller="House" asp-action="Rent" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Rent" />
                        </form>
                    }
                    else if(await houses.IsRentedByUserId(Model.Id,new Guid(User.GetId())))
                    {
                        <form class="ml-2" asp-controller="House" asp-action="Leave" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Leave" />
                        </form>
                    }
                }
            </div>

            <p></p>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Agent Info</h5>
                    @if (Model.AgentName.FullName != null)
                    {
                        <p class="card-text">Full Name:@Model.AgentName.FullName</p>
                    }
                    <p class="card-text">Email: @Model.AgentName.Email</p>
                    <p class="card-text">Phone Number: @Model.AgentName.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>